html {
  scroll-behavior: smooth;
}

body {
font-family: 'Open Sans', sans-serif;
background-image: url(images/coding-dots3.png);
background-attachment: fixed;
/* background-size: cover; */
/* background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: fixed; */

}

/* .parallax {


} */


ul.collapsible {
    /* border-right: 0; */
    min-width: 350px;
    /* border-left: 5px solid #4a148cba; */
    border-left: 5px solid #9575cd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: none;
}

.pink-bracket {
  border-left-color: #f06292 !important;
}

.blue-braket {
  border-left-color: #7986cb !important;
}

.green-braket {
  border-left-color: #4db6ac !important;
}

.collapsible-header {
    border-top-right-radius: 10px;
    /* min-width: 350px; */
    overflow: hidden;
}

.ssebowa {
    border-left: 5px solid #fff !important;
    font-size: 18px;
}

@media only screen and (min-width: 1200px) { 
  body {
    background-size: cover;
  }
  .ssebowa {
    font-size: 16px !important;
  }
}
/* .collapsible-body grey lighten-3 {
    background-color: white;
} */

header {
  padding: 0 5px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease;
}

header .container {
  position: relative;
  max-width: 1280px;
}

.hide-header {
  top: -70px;
}
.hide-footer {
  bottom: -35px !important;
}

h3 {
    margin: 0;
    padding: 10px 5px;
    font-size: 2.2em;
} 

@media screen and (max-width: 480px) {
    header h3 {
      font-size: 22px;
      padding: 20px 0 20px 30px;
    }
    span.lineage {
      font-size: 10px !important;
    }
  }

.wrapper {
    margin-top: 8em;
}

footer.page-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  transition: bottom 0.3s ease;
  z-index: 999;
}

img {
    width: 70px;
    margin-right: 20px;
    border-radius: 10px;
}

.page-footer {
  padding-top: 0;
}

#particles-js {
  position : fixed;
  width:100%;
  height:100%;
  z-index:-1;
  top: 0;
}

.z-depth-5 {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2) !important;
}

.footer-copyright {
    padding: 0 !important;
    min-height: 30px !important;
}

.socials ul li {
    display: inline;
    font-size: 28px;
    margin-right: 6px;
}

li a .fa-facebook-square {
  color: #395693;
}

li a .fa-twitter-square {
  color: #00A7E7;
}
li a .fa-whatsapp-square {
  color: #24CD63;
}
li a .fa-envelope-square {
  color: #CD4134;
}

ul.collapsible.about {
    border: none;
    margin-top: -15px;
    margin-bottom: -10px;
}

.about .collapsible-header {
    border: none;
}

.about .collapsible-body {
    border: 0;
}

.about i.material-icons {
    margin-right: 0;
    transition: all 0.5s ease-out;
}
i.material-icons {
    transition: all 0.5s ease-out;
}

.about .collapsible-body {
    padding-top: 0px;
    padding-bottom: 10px;
}

.spinAbout {
  transform: rotate(180deg) !important;
}

.spinIcon {
  transform: rotate(360deg);
}

span.lineage {
  font-size: 15px;
}

.expandAll {
  display: block;
}

.switch {
    text-align: right;
    margin-bottom: 20px;
}
.switch label input[type=checkbox]:checked + .lever {
    background-color: #e91e6396;
}

.switch label .lever:before {
    background-color: #e91e6375;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #e91e63;
}

a.grey-text {
    border-bottom: 1px dotted #9e9e9e;
}

.red-text {
    font-size: 16px;
}

img.responsive-img {
    transition: width 1s ease;
}
img.responsive-img.image:hover {
    width: 350px;
}

.about-list {
  background-color: #8080802b;
  padding: 2px 4px;
  border-radius: 4px;
  margin-right: 2px;
}

.first-unknown {
  font-style: italic;
  margin-right: 8px;
}
.second-unknown {
  font-style: italic;
  margin-left: 8px;
}

iframe {
  width:100%
}

ul.bottom-socials {
  display: inline;
  margin-left: 18px;
  position: absolute;
  top: -11px;

}

ul.bottom-socials li {
  font-size: 18px;
  margin-right: 12px;
  /* margin-bottom: -8px; */
  /* display: inline-block; */
}

@media only screen and (min-width: 993px){
  .container {
      width: 95%;
  }
}

@media only screen and (min-width: 601px) {
  .container {
      width: 95%;
  }
}

.announce {
  position: sticky;
  top: 20px;
  margin-top: 42px;
}

.announce .heading {
  padding: 10px 0;
  margin-top: 42px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #49138C;
}

.single-announce-heading {
  padding: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.sidebar-slideshow .single-announce-heading {
  padding: 14px 0;
}

.single-announce-heading .date {
  font-size: 13px;
    /* font-style: italic; */
}

.single-announce-heading p:first-child {
  font-weight: 600;
}

.sidebar-slideshow .single-announce-heading p:first-child {
  font-weight: 500;
}

.single-announce-heading p {
  line-height: 10px;
}

.sidebar-slideshow .single-announce-heading p {
  margin: 0;
}

.announcement-body {
  padding: 20px 0;
  line-height: 1.6em;
  transition: all 1s linear;
}

.hide-announcement {
  height: 0;
  padding: 0 20px;
  overflow: hidden;
}

.announcement .btn {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-transform: capitalize;
  margin-top: 4px;
}

.announcement .btn:hover {
  background-color: #009688 !important;
  color: white !important;
  transition: all 0s;
}

.footer-copyright .container {
    /* margin-left: 140px; */
}

.menu-icon {
  position: absolute;
  left: 8px;
  top: 14px;
  font-size: 30px;
}
.menu-icon:hover {
  cursor: default;
}

.drawer {
  position: fixed;
  /* top: 0; */
  height: 120vh;
  background-color: white;
  left: 0;
  width: 280px;
  z-index: 999999;    
  left: -500px;
  transition: .5s all ease;
}

.drawer ul li:hover {
  background-color: #eee;
}
.drawer ul li {
  padding: 14px 0 14px 32px;
  margin: 0 !important;
}

.drawer ul a {
  color: #4a148c;
}

.drawer ul li {
  margin-bottom: 20px;
}

.drawer span {
  margin-bottom: -6px;
  display: inline-block;
}

.open-drawer {
  left: 0;
}

.row-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  }

  .breadcrum {
    margin: 5px 0 20px;
    padding: 13px 0;
    border-radius: 20px;
  }

  .breadcrum span {
    border-bottom: 3px solid white;
    width: 40px;
    display: inline-block;
    /* margin-top: -69px; */
  }
  .breadcrum h4 {
    line-height: 0px;
    margin: 1.52rem 0 0.4rem 0;
  }

/*============= Slick ===============*/
.slick-slide {
  margin: 0;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: red;
}


.slick-slide {
  transition: all ease-in-out .5s;
  opacity: .2;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 25px !important;
  color: white;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: white;
}

.tube {
  margin-bottom: 60px;
  margin: 0 auto 75px;
}
  
@media (min-width: 1200px) { 
    .tube {
      width: 732px;
    } 
    .tube iframe {
      height: 412px;
    }
}

.materialbox-caption {
  padding: .5% 15%;
} 

.decor {
  margin-bottom: 30px;
  position: relative;
  margin-top: 50px;
}

.decor span {
  position: absolute;
  top: -18px;
  padding: 0px 15px;
  text-transform: uppercase;
  color: #4a148c !important;
  border-top-right-radius: 5px;
  background-color: white;
  font-weight: 600;
}

.decor div {
  height: 4px;
  border-bottom: 2px solid white;
  margin: 20px 0;
}

span.chd-off {
  background-color: rgb(74 20 140 / 15%);
  padding: 5px 12px;
  margin-bottom: 15px;
  display: inline-block;
  border-radius: 5px;
}

/*============= To Remove Later ===============*/

.announce, .menu-icon {
  display: none;
}

.row .col.l9 {
  width: 100%;
}

@media only screen and (min-width: 993px){
  .container {
    width: 80%;
  }
}



/*============= To Remove Later ===============*/