<header id="site-header" class="purple darken-4 white-text center-align z-depth-1">
  <div id="container">
    <i class="material-icons menu-icon">menu</i>
    <!-- <span class="menu-icon"></span> -->
    <h3>Nasanaili Ssebowa <span class="lineage">(Lineage)</span></h3>
  </div>

  <!--============= Drawer =============-->
  <div class="drawer z-depth-1-half left-align grey-text">
      <ul>
        <a href="#"> <li><span><i class="material-icons left">home</i></span>Home</li></a>
        <a href="#"> <li><span><i class="material-icons left">insert_photo</i></span>Gallery</li></a>
                
      </ul>
  </div>
    
</header>