<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
  <!-- Loading Screen -->
  <div data-u="loading" class="jssorl-004-double-tail-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
      <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/double-tail-spin.svg" />
  </div>
  <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
      <div>
          <img data-u="image" src="images/gallery/21-1.jpg" />
          
      </div>
      <div>
          <img data-u="image" src="images/gallery/26.jpg" />
          
      </div>
      <div>
          <img data-u="image" src="images/gallery/5.jpg" />
          
      </div>
      <div>
          <img data-u="image" src="images/gallery/7.jpg" />
          
      </div>
      <div>
          <img data-u="image" src="images/gallery/27.jpg" />
          
      </div>
  </div><a data-scale="0" href="https://www.jssor.com" style="display:none;position:absolute;">slider html</a>
  <!-- Bullet Navigator -->
  <div data-u="navigator" class="jssorb031" style="position:absolute;bottom:16px;right:16px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
      <div data-u="prototype" class="i" style="width:13px;height:13px;">
          <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
              <circle class="b" cx="8000" cy="8000" r="5800"></circle>
          </svg>
      </div>
  </div>
  <!-- Arrow Navigator -->
  <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
      <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
          <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
      </svg>
  </div>
  <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
      <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
          <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
      </svg>
  </div>
</div>