Arnold

<li>     
  <div class="collapsible-header valign-wrapper valign-wrapper"><i class="material-icons">add</i> <img class="responsive-img" src="images/male-placeholder.jpg" alt="">Arnold Galiwango</div>
  <div class="collapsible-body grey lighten-5">
    <ul class="collapsible about">
      <li>
        <div class="collapsible-header grey lighten-5"><i class="material-icons">keyboard_arrow_down</i>About</div>
        <div class="collapsible-body">
          <p>Phone: 0700 725006 &bull; 0781 891314</p>
          <p>Occupation: IT Teacher &bull; Web Designer &bull; App Developer</p>
          <div class="socials">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
              <li><a href="#"><i class="fas fa-envelope-square"></i></a></li>
            </ul>   
          </div>
        </div>
      </li>
    </ul>
    
  </div>
</li>


<li>     
  <div class="collapsible-header valign-wrapper valign-wrapper"><i class="material-icons">add</i> <img class="responsive-img" src="images/male-placeholder.jpg" alt="">Arnold Galiwango</div>
  <div class="collapsible-body grey lighten-5">
    <ul class="collapsible about">
      <li>
        <div class="collapsible-header grey lighten-5"><i class="material-icons">keyboard_arrow_down</i>About</div>
        <div class="collapsible-body">
          <p>Phone: 0700 725006 &bull; 0781 891314</p>
          <p>Occupation: IT Teacher &bull; Web Designer &bull; App Developer</p>
          <div class="socials">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
              <li><a href="#"><i class="fas fa-envelope-square"></i></a></li>
            </ul>   
          </div>
        </div>
      </li>
    </ul>
    
  </div>
</li>


<ul class="collapsible expandable">
  <!--============= From Wilberforce Mubiru=============-->
  <li>
    <div class="collapsible-header valign-wrapper"><i class="material-icons">add</i><img class="responsive-img" src="images/male-placeholder.jpg" alt="">Wilberforce Mubiru</div>
    <div class="collapsible-body grey lighten-3"><span>
      <ul class="collapsible expandable">

        <li>
          <div class="collapsible-header valign-wrapper"><i class="material-icons">add</i><img class="responsive-img" src="images/male-placeholder.jpg" alt="">Aaron ???</div>
          <div class="collapsible-body grey lighten-3">Nothing to see here yet.</div>
        </li>

      </ul>
    </span></div>
  </li>
  
</ul>



<ul class="collapsible expandable">
                                              
  <li>
    <div class="collapsible-header valign-wrapper"><i class="material-icons">add</i><img class="responsive-img image" src="images/samalie-ndagire.jpg" alt="">Samalie Ndagire</div>
    <div class="collapsible-body grey lighten-3">Nothing here yet.</div>
  </li>
  
</ul> 